.app {
  flex: 1;
  align-items: center;
  width: 750;
  height: 1200;
  background-color: #efeff4;
}

.center {
  align-items: center;
  justify-content: center;
}

.icon {
  height: 180;
  width: 180;
  margin-top: 240;
}

.fontSize {
  font-size: 34;
}

.purple {
  color: #6767fa;
  margin-top: 60;
}

.black {
  color: #434343;
  margin-top: 320;
  margin-bottom: 23;
}

.button {
  background-color: #feb75a;
  width: 250;
  height: 80;
  border-radius: 12;
}

.white {
  color: #ffffff;
}